# Generic ignores

*.log

*.db

*.db-shm

*.db-wal

*.pyc

._*

__pycache__



# Directory (contents) ignores

homeassistant/.cloud

homeassistant/.storage

homeassistant/deps



# Specific file ignores

homeassistant/.config_entries.json

homeassistant/.homekit.state

homeassistant/.ios.conf

homeassistant/.spotify-token-cache

homeassistant/.tradfri_psk.conf

homeassistant/.uuid

homeassistant/core

homeassistant/html5_push_registrations.conf

homeassistant/ip_bans.yaml

homeassistant/known_devices.yaml

homeassistant/options.xml

homeassistant/OZW_Log.txt

homeassistant/pyozw.sqlite

homeassistant/secrets.yaml

homeassistant/zwcfg_*

homeassistant/zwscene.xml



# ESPHome ignores

homeassistant/esphome/secrets.yaml

homeassistant/esphome/**/



# Ignore add-on files

homeassistant/aircast.xml

homeassistant/airsonos.xml

homeassistant/notebooks

# Ignore TTS
homeassistant/tts/*

# ignore community 
homeassistant/www/community
homeassistant/custom_components/*
homeassistant/www/pictures/people

.caddy/*
caddy/certs

mosquitto/passwd
motioneye/*

grocy/*

*.pickle
.env

# Ignore files created by IDE's

.vscode

.theia

.Trash*



# Specific keeps

!.gitkeep
