{$DOMAIN} {
	proxy / http://192.168.0.88:8123 {
		websocket
		transparent
	}
}
coder.{$DOMAIN} {
	proxy / http://coder:8443 {
		websocket
		transparent
	}
}
grocy.{$DOMAIN} {
	proxy / http://grocy:80 {
		websocket
		transparent
	}
}
